.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: #27292d; */
}

.results-container {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin-top: 20px;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}
